.results, .info, .divider {
  margin: 10px 50px;
  text-align: left;
}
.icon-image {
  background: url('http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Sheets-icon.png');
  width: 33px;
  height: 33px;
  margin-right: 3px;
  background-size: cover;
  display: inline-block;
}
.divider {
  width: calc(100% - 100px);
  margin-top: 20px;
  height: 1px;
  background: #ababab;
}